*.dart linguist-language=Dart
*.json linguist-vendored
*.yaml linguist-vendored
*.md linguist-vendored
*.html linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
CMakeLists.txt linguist-vendored
