# Ignorar arquivos não relacionados a Dart
*.dart linguist-language=Dart
*.json linguist-vendored
*.yaml linguist-vendored
*.md linguist-vendored
*.html linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.c linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
*.swift linguist-vendored
*.js linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.kt linguist-vendored