# Ignorar arquivos não relacionados a Dart
*.dart linguist-language=Dart
*.json linguist-vendored
*.yaml linguist-vendored
*.md linguist-vendored
*.html linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.c linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
*.swift linguist-vendored
*.js linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.kt linguist-vendored
# Ignorar todos os arquivos dentro das pastas específicas de C++ ou de plataformas
android/* linguist-vendored
ios/* linguist-vendored
cpp/* linguist-vendored
jni/* linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
*.make linguist-vendored
*.cpp linguist-generated
*.h linguist-generated

